.quote{
    margin-top: 151px;
}
.btn-c{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.logos{
    background-color: #dadada;
}
p{
    color: #656d74;
}
.sdow{
    box-shadow: 0 0 20px -10px rgb(0 0 0 );
}